step_functions/event-platform-state-machine.json
{
  "Comment": "Spark job transformation orchestration for Validated to Silver",
  "StartAt": "ReceiveMessages",
  "States": {
    "ReceiveMessages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:receiveMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.<REGION>.amazonaws.com/<ACCOUNT NUMBER>/processing-event-platform-new",
        "MaxNumberOfMessages": 10,
        "WaitTimeSeconds": 5
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.sqs",
      "Next": "CheckIfEmpty"
    },
    "CheckIfEmpty": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.sqs.Messages",
          "IsPresent": true,
          "Next": "TriggerDatabricksJob"
        },
        {
          "Variable": "$.sqs.Messages",
          "IsPresent": false,
          "Next": "Finish"
        }
      ]
    },
    "TriggerDatabricksJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "databricks-trigger-lambda",
        "Payload.$": "$.sqs.Messages"
      },
      "ResultPath": "$.triggerResult",
      "Next": "WaitforStatusCheck"
    },
    "WaitforStatusCheck": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckDatabricksStatus"
    },
    "CheckDatabricksStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "databricks-status-lambda",
        "Payload": {
          "run_id.$": "$.triggerResult.Payload.run_id"
        }
      },
      "ResultPath": "$.statusResult",
      "Next": "JobStatusDecision"
    },
    "JobStatusDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "RUNNING",
          "Next": "WaitforStatusCheck"
        },
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "SUCCESS",
          "Next": "UpdateDynamoDBStatus"
        },
        {
          "Variable": "$.statusResult.Payload.status",
          "StringEquals": "FAILED",
          "Next": "FailState"
        }
      ]
    },
    "UpdateDynamoDBStatus": {
      "Type": "Map",
      "ItemsPath": "$.sqs.Messages",
      "ResultPath": null,
      "Next": "PrepareDeleteEntries",
      "Iterator": {
        "StartAt": "ParseBody",
        "States": {
          "ParseBody": {
            "Type": "Pass",
            "Parameters": {
              "Body.$": "States.StringToJson($.Body)"
            },
            "ResultPath": "$.decoded",
            "Next": "ChangeStatus"
          },
          "ChangeStatus": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Parameters": {
              "TableName": "event-platform-metadata",
              "Key": {
                "etag": {
                  "S.$": "$.decoded.Body.etag"
                }
              },
              "UpdateExpression": "Set #status = :newStatus",
              "ConditionExpression": "#status = :expected",
              "ExpressionAttributeNames": {
                "#status": "status"
              },
              "ExpressionAttributeValues": {
                ":newStatus": {
                  "S": "SILVER_COMPLETED"
                },
                ":expected": {
                  "S": "VALIDATED"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "DynamoDB.ProvisionedThroughputExceededException",
                  "States.Timeout",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "DynamoDB.ConditionalCheckFailedException"
                ],
                "Next": "AlreadyUpdated"
              }
            ],
            "ResultPath": null,
            "End": true
          },
          "AlreadyUpdated": {
            "Type": "Pass",
            "End": true
          }
        }
      }
    },
    "PrepareDeleteEntries": {
      "Type": "Map",
      "ItemsPath": "$.sqs.Messages",
      "ResultPath": "$.deleteEntries",
      "Next": "DeleteMessages",
      "Iterator": {
        "StartAt": "FormatDeleteEntry",
        "States": {
          "FormatDeleteEntry": {
            "Type": "Pass",
            "Parameters": {
              "Id.$": "$.MessageId",
              "ReceiptHandle.$": "$.ReceiptHandle"
            },
            "End": true
          }
        }
      }
    },
    "DeleteMessages": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:deleteMessageBatch",
      "Parameters": {
        "QueueUrl": "https://sqs.<REGION>.amazonaws.com/<ACCOUNT NUMBER>/processing-event-platform-new",
        "Entries.$": "$.deleteEntries"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 3
        }
      ],
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "Error": "DatabricksFailure",
      "Cause": "Databricks job failed"
    },
    "Finish": {
      "Type": "Succeed"
    }
  }
}
